body {
    margin: 0;
    font-family: Arail, sans-serif;
    background-color: lightgray;
    padding-bottom: 70px;
}

.header, .main-content, .bottom-nav {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.search.bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 6px 15px;
    margin-right: 15px;
}

.search.bar i {
    color: #999;
    margin-right: 10px;
}

.search.bar input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 1em;
}

.header-icons i{
    font-size: 1.5em;
    margin-left: 15px;
    color: #333;
}

.quick-menu {
    display: flex;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 8px solid #f0f0f0;
}

.menu-item {
    border: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 0.9em;
    color: #333;
    flex: 1;
    margin: 0 5px;
}

.main-content h3 {
    padding: 10px;
    margin: 0;
    font-size: 1.1em;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

.product-card {
    width: 31.5%;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: 5px;
    padding: 5px;
}

.product-row .wide-card {
    width: 48%;
}

.product-thumb {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;
}

.product-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-title {
    font-size: 0.85em;
    margin: 0;
    font-weight: normal;
}

.harga {
    font-family: bold;
    color: red;
    font-size: 0.9em;
    margin: 2px 0 0 0;
}

.bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0, 0.15);
    justify-content: center;
    font-size: 0.7em;
    color: #666;
    padding: 5px;
    flex: 1;
}


.nav-item i {
    font-size: 1.5em;
    margin-bottom: 3px;
}

.nav-item.active {
    color: deepskyblue;
}